@font-face {
	font-family:'HuiFontPRegular';
	src: url(HuiFontP109.eot);
}
@font-face{
	font-family: 'HuiFontPRegular';
	src: url(HuiFontP109.ttf) format('truetype');
}


/************** d3forum genelic *************/

table.d3f_outer {
	width:100%;
}

table.d3f_outer thead {
	background:#dcdcdc;
}
table.d3f_outer thead th {
	padding:5px;
}
table.d3f_outer td {
	padding:5px;
}
table.d3f_outer tr.odd {
	background:#F7F7F7;
}

.d3f_head {
	line-height:2;
	background:#A7A7A7;
	background-image: 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
	background-image: 
		-moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
		-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
		-moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
		-moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
}

.d3f_wrap .d3f_head h2 ,
.d3f_wrap .d3f_head h2 a {
	font-size:20px;
}

.d3f_ctrl {
	margin-bottom:30px;
}

#d3f_post_form_quick table.d3f_postform {
	width:90%;
	margin-left: 2em;
}
#d3f_post_form_quick table.d3f_postform td.head,
#d3f_post_form_quick table.d3f_postform td.even  {
	background:transparent;
}

#d3f_post_form_quick table.d3f_postform td.head {
	width:70px;
}
#d3f_post_form_quick table.d3f_postform td.even  {
}
#d3f_post_form_quick table.d3f_postform textarea , table.d3f_form_table textarea , table.d3f_form_table ,
#d3f_post_form_quick table.d3f_postform input , table.d3f_form_table input#subject {
	width:100%;
}
#d3f_post_form_quick table.d3f_postform input.formButton {
	width:100px;
}

table.inc_d3comment_summary {
	margin-bottom:1em;
	padding:5px;
	border:1px solid #ccc;
}
table.inc_d3comment_summary td.head , table.inc_d3comment_summary td.td01{
	padding:2px;
	background:#dcdcdc;
}

#d3f_forum_list {
	margin-bottom:30px;
}
#d3f_forum_list ul li ul{
	margin:0 0 10px 16px;
}


table.d3f_table tr.head ,
table.d3f_table tr.odd {
	background:#ddd;
}

/* d3pipes */

ul.d3pipes_block_sync_aggregated li {
	margin-bottom:10px;
}
ul.d3pipes_block_sync_aggregated li dl dt {
	padding:2px 0 2px 9px;
	border-left:5px solid #dcdcdc;
}
ul.d3pipes_block_sync_aggregated li dl dd {
	font-size:0.8em;
	padding:0 0 0 16px;
	color:#8F8F8F;
}

/* webphoto */
/* comment out -------------
.webphoto_page_title , .webphoto_catpath , .webphoto_page_menu, .webphoto_search_form , .webphoto_tagedit_form , .webphoto_breadcrumbs{
	display:none;
}
 ------------- comment out */

#ModuleContents .webphoto_photo_type , #ModuleContents .webphoto_index_photo_header , #ModuleContents .webphoto_index_photo_body , #ModuleContents .webphoto_index_photo_footer{
	border:none;
	border-top:1px solid #dcdcdc;
	background:transparent;
}
.webphoto_photo_div {
	float:left;
	width:200px;
	height:220px;
	padding-top:25px;
}
.webphoto_photo_div .webphoto_table_sub a {
	text-decoration:none;
　text-align: center
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 240, 0.8); /* 透明度80%で指定 */
    position: absolute; /* 親要素を基点に配置 */
    top: -20px;
    left: -10px;
    font-size: 100%;
    -moz-box-shadow: 0 2px 4px #666; /* ボックスシャドー */
    -webkit-box-shadow: 0 2px 4px #666;
    box-shadow: 0 2px 4px #666;
    -webkit-transform: rotate(-3deg); /* 回転 */
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: 2;
}

.webphoto_single_photo {
	width:80%;
	padding:40px;
	margin-top:0px;
	border:1px solid #ccc;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#ModuleContents table td.webphoto_list_td_image .webphoto_list_image img ,#ModuleContents .webphoto_table_image img {
    position: relative;
    padding: 10px 10px 35px 10px;
    background: #eee;
    border: 1px solid #fff;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
    -moz-box-shadow: 0px 2px 10px #333; /* Firefox用 */
    -webkit-box-shadow: 0px 2px 10px #333; /* Safari,Chrome用 */
    box-shadow: 0px 2px 10px #333; /* CSS3 */
}
body.webphoto #ModuleContents table span.webphoto_table_title {
	margin-top:-30px;
}

.webphoto_index_photo_body:after {
  content : "";
  display : block;
  height : 0;
  clear : both;
}

#webphoto_box_catlist_a a:link , #webphoto_box_catlist_a a:visited,
#webphoto_box_catlist_b a:link , #webphoto_box_catlist_b a:visited{
	text-decoration:none;
}

body.webphoto #ModuleContents ul {
	margin-left:30px;
}

#ModuleContents .rotate_1 , #ModuleContents .rotate_3 , #ModuleContents .rotate_4 , #ModuleContents .rotate_6 {
    -webkit-transform: rotate(1deg); /* 回転 */
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(10deg);
    transform: rotate(1deg);
}
#ModuleContents .rotate_2 {
    -webkit-transform: rotate(5deg); /* 回転 */
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(52deg);
    transform: rotate(5deg);
}
#ModuleContents .rotate_5 {
    -webkit-transform: rotate(-5deg); /* 回転 */
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-52deg);
    transform: rotate(-5deg);
}
#ModuleContents .rotate_7  {
    -webkit-transform: rotate(-1deg); /* 回転 */
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-1deg);
}


/* ------------ for wordpress (xpress) -------------------- */

body.wordpress #ModuleContents {
	width:100%;
	margin:0;
	padding:0;
}
body.wordpress #ModuleContents .xpress-body {
	width:100%;
	margin:0;
	padding:0;
}
body.wordpress #ModuleContents .xpress-body #xpress_page{
	width:100%;
	margin:0;
	padding:0;
}

#xpress-header-bar,
.xpress_credit {
	display:none;
}
#xpress_wrap {
	clear: both;
	float: left;
	width: 100%;
	margin:0 auto;
	margin-top:0px;
	padding:30px 12px 30px 0;
}
#xpress_footer {
	padding-bottom:30px;
}


#xpress_wrap #xpress_content .xpress-post {
	position:relative;
	min-height:1px;
	margin-bottom:20px;
	width:98%;
}

#xpress_wrap #xpress_content .xpress-post-ymdl ,
body.L0R1 #ModuleContents .xpress-post-ymdl ,
body.L1R1 #ModuleContents .xpress-post-ymdl{
	position:absolute;
	top:15px;
	left:15px;
  font-family: Georgia normal, "Times New Roman", Times, serif;
	width:95px;
	height:90px;
	font-size:28px;
	font-weight:bold;
	text-align:center;
}
#xpress_wrap #xpress_content .xpress-post-ymdl .xpress-post-year {
	width:85px;
	height:35px;
	margin:0;
	padding:0;
}
#xpress_wrap #xpress_content .xpress-post-ymdl .xpress-post-md {
	width:85px;
	height:30px;
	margin:0;
	padding:0;
}
#xpress_wrap #xpress_content .large_thumbnail ,
body.wordpress #ModuleContents .large_thumbnail{
	float:left;
	width:135px;
	height:135px;
}

.xpress_block {
	margin:0;
	margin-left:-10px;
	margin-top:-10px;
	padding:0;
	width:100%;
}

.xpress_popular_post_block ,
.xpress_block .xpress_category_block ,
.xpress_block .xpress_tag_cloud_block ,
.xpress_block .xpress_recent_post_list_block ,
.xpress_block .xpress_recent_posts_content_block ,
.xpress_block .xpress_popular_posts_block ,
.xpress_block .xpress_archives_block {
	line-height:1.5;
	width:100%;
}
.xpress_block .xpress_tag_cloud_block a {
	font-family: HuiFontPRegular, fantasy;
	margin:5px;
}

.xpress_popular_post_block ul {
	width:98%;
}
.xpress_block .xpress_recent_post_list_block ul {
	margin-bottom:10px;
	width:95%;
}
.xpress_popular_post_block li ,
.xpress_block .xpress_recent_post_list_block li {
	margin-bottom:10px;
	width:100%;
}

#xpress_wrap #xpress_content .xpress-post .eyecatch-image img {
 	float:left;
	width:135px;
	height:135px;	
	margin:0 20px 20px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	z-index:0;
}

#xpress_wrap #xpress_content .xpress-post .large_thumbnail {
	position:relative;
	float:left;
	width:20%;
	margin:10px 20px 10px 20px;
}
#xpress_wrap #xpress_content .xpress-post .large_thumbnail img {
	width:100%;
	height:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}


#xpress_wrap #xpress_content .xpress-post .xpress-eyecatch-post-md {
	position:absolute;
	top:20px;
	left:15px;
  font-family: Georgia normal, "Times New Roman", Times, serif;
	width:110px;
	height:30px;
	font-size:30px;
	z-index:100;
}
#xpress_wrap #xpress_content .xpress-post h2 {
	margin:0 10px 10px 15px;
	font-size: 20px;
	font-weight: bold;
}
#xpress_wrap #xpress_content .xpress-post h2 a{
	line-height:1.2;
	padding-bottom:2px;
	font-size: 20px;
	color:green;
	text-decoration:none;
}
#xpress_wrap #xpress_content .xpress-post .xpress-post-header {
	position:relative;
	min-height:153px;
	height:auto;
}
#xpress_wrap #xpress_content .xpress-post .xpress-post-header .xpress-post-title {
	position:absolute;
	top:10px;
	left:10px;
	width:80%;
	padding-left:150px;
}
@media screen and (max-width: 1024px) 	{
	#xpress_wrap #xpress_content .xpress-post .xpress-post-header .xpress-post-title {
		width:70%;
	}
}
@media screen and (max-width: 740px) 	{
	#xpress_wrap #xpress_content .xpress-post .xpress-post-header .xpress-post-title {
		width:50%;
	}
	#xpress_wrap #xpress_content .xpress-post .xpress-post-header {
		height:200px;
	}
}


#xpress_wrap #xpress_content .xpress-post .xpress-post-header .xpress-post-title h2 {
	width:90%;
}
#xpress_wrap #xpress_content .xpress-post .xpress-post-header .xpress-post-excerpt {
	position:relative;
	width:90%;
	padding:1%;
	margin:0 0 0 20px;
	font-size:120%;
	line-height:1.5;
}

#xpress_wrap #xpress_content .xpress-navi-bar {
	position:relative;
	width:100%;
	min-height:1px;
}
#xpress_wrap #xpress_content .xpress-navi-bar .alignright {
	position:relative;
	float: right;
	height:20px;
	width:45%;
	text-align:right;
}

#xpress_wrap #xpress_content .xpress-navi-bar .alignleft {
	position:relative;
	float: left
	height:20px;
	width:45%;
}
#ModuleContents .xpress-post-entry {
	margin-top:10px;
	padding:14px 10px 10px 10px;
	font-size:14px;
	line-height:24px;
}
#ModuleContents .xpress-post-entry p {
	text-indent:1em;
	font-size:14px;
	line-height:24px;
}
#ModuleContents .xpress-post-entry img {
	margin:0;
	padding:0;
}
#ModuleContents .xpress-post-entry blockquote {
	margin:0 20px 0 35px;
	padding:0 20px 0 20px;
}
#ModuleContents .xpress-post-entry h3 {
	font-size:20px;
	line-height:24px;
}

#ModuleContents #xpress-comments-block {
	width:80%;
	margin:30px 30px 30px 30px;
}
#ModuleContents #xpress-comments-block h2 {
	padding:5px 20px;
}
#ModuleContents #xpress-comments-block #postform {
	margin-left:15px;
}


/* End Wordpress (XpressME) */


/* d3diary */

#d3dWrap {
	margin:10px;
}
#d3dSideLeft .item,
#d3dSideRight .item {
	font-size:83%;
	padding:10px;
	border-radius: 10px ;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/* boxdate if Detail page*/

#d3dWrap div.boxdate_base {
	float: left;
	padding: .5em 0;
	margin: 2px 8px 8px 2px;
	text-align: center;
	line-height:1;
	border:none;
/*	background: url(images/b005bcg.gif); */
	-webkit-box-shadow: inset 0px 0px 10px 0px #777;
	-moz-box-shadow: inset 0px 0px 10px 0px #777;
	box-shadow: inset 0px 0px 10px 0px #777;
}

#d3dWrap .itemBody {
	line-height:1.5;
}
#d3dWrap .itemHead .itemTitle {
	line-height:2;
	font-size:130%;
}

#d3dWrap .itemDiary {
	margin-bottom:40px;
}

/* bulletin */

body.bulletin .itemHead {
	padding:5px;
	background:#e6eae6;
}
body.d3diary .itemBody ,
body.bulletin .itemBody {
	line-height:1.5;
	padding:10px;
	background:#f7f6fb;
	border-radius: 10px ;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

body.bulletin .itemHead .itemTitle ,
body.bulletin .itemHead .itemTitle a {
	font-size:18px;
}

.gnn_cat {
	margin-left:-45px;
}


/* pico */
ul.pico_block_subcategories li {
	line-height:1.5;
	margin-bottom:7px;
}
ul.pico_block_subcategories li a {
	line-height:1.5;
	padding-left:27px;
	background: url(images/a03.gif) no-repeat center left;
}
dl.pico_subcategory {
	margin-bottom:20px;
}
dl.pico_subcategory dt {
	line-height:2;
	padding-left:27px;
	background: url(images/a03.gif) no-repeat center left;
}
dl.pico_subcategory dt a {
	font-size:120%;
}
dl.pico_subcategory dd {
	margin-left:30px;
}

/*  Page Navigation */
 
div.boxNavi .itemBody {
	margin: 1px 2px 5px 2px;
	text-align:center;
	list-style-type: none;
	background-color: transparent;
}
div.boxNavi .itemBody li{
	display: inline;
	margin: 1px 2px 1px 2px;
	padding: 5px 0px 5px 0px;
	font-weight: bold;
	text-align:center;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	background-image: none;
}
 
div.boxNavi .itemBody li.txt span,
div.boxNavi .itemBody li.this span,
div.boxNavi .itemBody li a {
	margin: 0;
	padding: 5px 7px 5px 10px;
	text-decoration: none;
}
div.boxNavi .itemBody li.this span {
	background-color: #CCCCCC;
}

